<div class="mb-20 font-light">
    <div class="mb-5 capitalise">group training</div>
    <div class="cost-lv">
        <div class="capitalise">
            adult membership:
        </div>
        <div>
            £65/month
        </div>
    </div>
    <div class="cost-lv">
        <div class="capitalise">
            student membership:
        </div>
        <div>
            £40/month
        </div>
    </div>
</div>
<div class="font-light">
    <div class="mb-5 capitalise">personal training</div>
    <div class="cost-lv">
        <div>
            1 session per week:
        </div>
        <div>
            £55/hour
        </div>
    </div>
    <div class="cost-lv">
        <div>
            2+ sessions per week:
        </div>
        <div>
            £50/hour
        </div>
    </div>
</div>
