<noscript id="deferred-styles">
    {{ range $key, $value := .Site.Data.manifestcss }}
    <link rel="stylesheet" href="/css/dist/{{ $value }}">
    {{ end }}
</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById('deferred-styles');
    var replacement = document.createElement('div');

    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement);
    addStylesNode.parentElement.removeChild(addStylesNode);
  };

  var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) {
    raf(function() {
      window.setTimeout(loadDeferredStyles, 0);
    });
  } else {
    window.addEventListener('load', loadDeferredStyles);
  }

  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js', {
      scope: '/',
    })
      .then(() => console.info(`Registration succeeded.`))
      .catch(error => console.error(`Registration failed with ${error}`));
  }
</script>
