<section class="p-10 relative o-hidden slideshow">
    <picture class="slide">
        <source media="(min-width: 450px)" srcset="/images/home-hero.ropt.jpg">
        <img src="/images/home-hero.sopt.jpg" alt="gym step" class="slide-img absolute"/>
    </picture>
    <picture class="slide slide-hide">
        <source media="(min-width: 450px)" srcset="/images/lunge-large.opt.jpg">
        <img src="/images/lunge-large.sopt.jpg" alt="lunging" class="slide-img absolute"/>
    </picture>
    <picture class="slide slide-hide">
        <source media="(min-width: 450px)" srcset="/images/squat.opt.jpg">
        <img src="/images/squat.sopt.jpg" alt="squatting" class="slide-img absolute"/>
    </picture>
    <picture class="slide slide-hide">
        <source media="(min-width: 450px)" srcset="/images/hand-stands.opt.jpg">
        <img src="/images/hand-stands.sopt.jpg" alt="hand standing" class="slide-img absolute"/>
    </picture>
</section>
