<div class="timetable font-light">
    <div></div>
    <div class="timetable-time">08:45</div>
    <div class="timetable-time">09:45</div>
    <div class="timetable-time">11:00</div>
    <div class="timetable-time">18:30</div>
    <div class="timetable-time">19:30</div>
    <div class="timetable-day">
        <div class="day-long uppercase">monday</div>
        <div class="day-short uppercase">mon</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div></div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-day">
        <div class="day-long uppercase">tuesday</div>
        <div class="day-short uppercase">tue</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div></div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-day">
        <div class="day-long uppercase">wednesday</div>
        <div class="day-short uppercase">wed</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">HiiT & Core (STARTS 26.04.17)</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-day">
        <div class="day-long uppercase">thursday</div>
        <div class="day-short uppercase">thu</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div></div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-day">
        <div class="day-long uppercase">friday</div>
        <div class="day-short uppercase">fri</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">yoga (monthly)</div>
    </div>
    <div></div>
    <div></div>
    <div class="timetable-day">
        <div class="day-long uppercase">saturday</div>
        <div class="day-short uppercase">sat</div>
    </div>
    <div></div>
    <div class="timetable-cell">
        <div class="timetable-cell-text">group training</div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div class="timetable-day">
        <div class="day-long uppercase">sunday</div>
        <div class="day-short uppercase">sun</div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
