.timetable {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4px;
    margin: 24px 0;
    font-size: 0.75rem;
}

.day-long {
    display: none;
}

.workout-list {
    margin: 10px 0;
    padding-left: 18px;
}

@media (min-width: 768px) {
    .day-short {
        display: none;
    }

    .day-long {
        display: block;
    }
}
