.timetable {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 24px auto;
    font-size: 0.75rem;
    max-width: 1000px;
    border: 1px solid white;
    border-right: none;
}

.timetable > div {
    border-right: 1px solid white;
}

.timetable-cell-text {
    max-width: 75px;
    text-transform: capitalize;
    padding: 4px;
    margin: auto;
    text-align: center;
}

.timetable-time, .timetable-day {
    padding: 4px;
    text-align: center;
}

.day-long {
    display: none;
}

.workout-list {
    margin: 10px 0;
    padding-left: 18px;
}

.cost-lv {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.get-in-touch {
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    margin: auto;
}

.fb-input {
    background: none;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 32px;
}

.fb-text {
    padding: 0 0 0 4px;
}

.fb-ta {
    padding: 10px 0 0 4px;
    height: 100px;
    resize: none;
}

.fb-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    text-transform: capitalize;
}

.fb-input::-moz-placeholder { /* Firefox 19+ */
    color: white;
    text-transform: capitalize;
}

.fb-input:-ms-input-placeholder { /* IE 10+ */
    color: white;
    text-transform: capitalize;
}

.fb-input:-moz-placeholder { /* Firefox 18- */
    color: white;
    text-transform: capitalize;
}

.fb-submit {
    background-color: #c7f2f0;
    border: none;
    width: 100%;
    color: white;
    height: 32px;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.fb-row {
    margin: 10px 0;
}

.fb-name-email {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.gmap {
    padding: 10px 0;
    max-width: 800px;
    min-height: 400px;
}

.person {
    flex: 1;
}

.person-img {
    width: 100%;
    height: auto;
}

.membership-section {
    min-height: 350px;
}

@media (min-width: 768px) {
    .fb-name-email {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    .day-short {
        display: none;
    }

    .day-long {
        display: block;
    }

    .timetable-title {
        font-size: 3rem;
    }

    .timetable {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: column;
    }

    .timetable-desc-container {
        display: flex;
        justify-content: center;
    }

    .timetable-desc {
        font-size: 1.75rem;
        text-align: center;
        max-width: 600px;
    }

    .people {
        display: flex;
    }

    .mot-title {
        font-size: 4rem;
    }

    .pgt-title {
        font-size: 3rem;
    }

    .pgt-text {
        text-align: center;
        max-width: 900px;
        margin: 32px auto;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .workouts {
        display: flex;
        max-width: 900px;
        margin: auto;
        font-size: 1.5rem;
    }

    .workout-title {
        font-size: 3rem;
    }

    .fb-title {
        font-size: 3rem;
    }

    .fb-form {
        padding: 10px;
        flex: 1;
    }

    .fb-input {
        font-size: 1.5rem;
        height: 44px;
    }

    .fb-ta {
        height: 400px;
    }

    .fb-submit {
        height: 44px;
    }

    .get-in-touch {
        flex-flow: row;
    }
}

@media (min-width: 1000px) {
    .timetable {
        font-size: 1.25rem;
    }

    .timetable-cell-text {
        max-width: 100px;
    }

    .membership-section {
        min-height: 500px;
    }

    .gmap {
        min-width: 600px;
    }
}