/* colours */

.bg-blue {
    background-color: #46b5ef;
}

.bg-green {
    background-color: #3EC2BA;
}

.black {
    color: black;
}

/* spacing */

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-20 {
    padding: 20px;
}

.lh-1h {
    line-height: 1.5rem;
}

/* text */

.capitalise {
    text-transform: capitalize;
}

/* flex */

.flex-centre {
    justify-content: center;
}

/* images */

.img-text {
    font-size: 3rem;
}

/* star */

.star-container {
    height: 75px;
    width: 75px;
}

.star {
    fill: white;
}

/* special */

.footer-email {
    height: 40px;
    text-align: right;
    padding: 10px;
}

@media (min-width: 768px) {
    .card {
        display: flex;
    }

    .footer-email {
        padding-right: 50px;
    }

    footer {
        width: 100%;
        height: 50px;
    }
}
