.profile-content {
    max-width: 1000px;
    margin: auto;
}

.profile-text p {
    margin: 10px 0;
}

.profile-text h1 {
    margin: 10px 0;
    text-transform: capitalize;
}

.profile-text ul {
    padding-left: 20px;
}

.profile-text li {
    margin: 4px 0;
}
