.workouts-list li {
    margin: 8px;
}

.workouts-list-item-title {
    font-weight: 400;
}

@media (min-width: 768px) {
    .workouts-lists {
        display: flex;
    }

    .workouts-list {
        max-width: 350px;
    }
}
