<!DOCTYPE html>
<html lang="en" class="full-hw">
<head>
    {{ partial "head" . }}
</head>
<body>
<div class="content">
    <header class="flex flex-1 flex-end pt-10">
        <a href="/about" class="green no-decoration bold uppercase">about</a>
        <div class="ml-10 gray bold">{{ .Site.Params.phoneNumber }}</div>
    </header>
    <section class="m-10">
        {{ partial "logo-with-text" . }}
    </section>
    <section class="vh-50 mh-400 relative o-hidden flex flex-centre">
        <img src="/images/home-hero.jpg" alt="view of gym" class="img-fh absolute"/>
        <div class="flex flex-column flex-spaced flex-align-centre ptb-40 align-centre absolute full-hw">
            <div class="hero-font-xl white uppercase">coming soon</div>
            <div class="hero-font-l white">
                <div class="align-centre">
                    for more info please visit our
                </div>
                <div class="align-centre uppercase">
                    <a href="https://www.facebook.com/onetwenty.fit" class="white">facebook page</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bold gray footer-email">
        {{ .Site.Params.email }}
    </section>
</div>
<footer class="bg-green"></footer>
</body>
{{ range $key, $value := .Site.Data.manifestcss }}
<link rel="stylesheet" href="/css/dist/{{ $value }}">
{{ end }}
</html>
