<!DOCTYPE html>
<html lang="en" class="full-hw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="./css/skeleton.css">
</head>
<body>
<div class="content">
    <header class="flex flex-1 flex-end pt-10">
        <a href="/about" class="green no-decoration bold uppercase">about</a>
        <div class="ml-10 gray bold">{{ .Site.Params.phoneNumber }}</div>
    </header>
    <section class="m-10">
        {{ partial "logo-with-text" . }}
    </section>
    <section>
        <div class="hero-image flex flex-column flex-spaced flex-align-center ptb-40 align-centre">
            <div class="hero-font-xl white uppercase">coming soon</div>
            <div class="hero-font-l white">
                <div class="align-centre">
                    for more info please visit our
                </div>
                <div class="align-centre uppercase">
                    <a href="https://www.facebook.com/onetwenty.fit" class="white">facebook page</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bold gray footer-email">
        {{ .Site.Params.email }}
    </section>
</div>
<footer></footer>
</body>
</html>
