<!DOCTYPE html>
<html lang="en" class="full-hw">
<head>
    {{ partial "head" . }}
</head>
<body class="full-hw">
<div class="content full-hw">
    <header class="flex flex-1 flex-end pt-10">
        <a href="/" class="green no-decoration bold uppercase">home</a>
        <div class="ml-10 gray bold">{{ .Site.Params.phoneNumber }}</div>
    </header>
    <section class="m-10">
        {{ partial "logo-with-text" . }}
    </section>
    <section class="p-10">
        <picture>
            <source media="(min-width: 450px)" srcset="/images/home-hero.ropt.jpg">
            <img src="/images/home-hero.sopt.jpg" alt="gym step" class="img-fw"/>
        </picture>
    </section>
    <section class="p-10 flex flex-column flex-centre flex-align-centre">
        {{partial "card" (dict "content" . "imgSmall" "lunge.sopt" "imgLarge" "lunge.opt" "title" "about us" "partialName" "about-us" )}}
    </section>
    <section class="bg-green white p-10">
        <div class="align-centre">
            <picture>
                <source media="(min-width: 450px)" srcset="/images/kettle-bells.opt2.jpg">
                <img src="/images/kettle-bells.sopt.jpg" alt="kettle bells" class="timetable-img">
            </picture>
        </div>
        <h1 class="uppercase align-centre timetable-title">timetable</h1>
        <div class="timetable font-light">
            <div></div>
            <div class="timetable-time">08:45</div>
            <div class="timetable-time">09:45</div>
            <div class="timetable-time">11:00</div>
            <div class="timetable-time">18:30</div>
            <div class="timetable-time">19:30</div>
            <div class="timetable-day">
                <div class="day-long uppercase">monday</div>
                <div class="day-short uppercase">mon</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div></div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-day">
                <div class="day-long uppercase">tuesday</div>
                <div class="day-short uppercase">tue</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div></div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-day">
                <div class="day-long uppercase">wednesday</div>
                <div class="day-short uppercase">wed</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">HiiT & Core (STARTS 26.04.17)</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-day">
                <div class="day-long uppercase">thursday</div>
                <div class="day-short uppercase">thu</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div></div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-day">
                <div class="day-long uppercase">friday</div>
                <div class="day-short uppercase">fri</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">yoga (monthly)</div>
            </div>
            <div></div>
            <div></div>
            <div class="timetable-day">
                <div class="day-long uppercase">saturday</div>
                <div class="day-short uppercase">sat</div>
            </div>
            <div></div>
            <div class="timetable-cell">
                <div class="timetable-cell-text">group training</div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div class="timetable-day">
                <div class="day-long uppercase">sunday</div>
                <div class="day-short uppercase">sun</div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="timetable-desc-container">
            <div class="timetable-desc">
                Our Yoga and Hiit & Core classes are open to members and non-members. Personal training is also
                available,
                <a href="mailto:hello@onetwenty.fit?subject=Personal training session" class="white">contact us</a> to
                book your session
            </div>
        </div>
    </section>
    <section class="pt-10">
        <h1 class="uppercase align-centre mot-title">
            meet our team
        </h1>
        <div class="people">
            {{partial "person" (dict "content" . "name" "helena" "imgSmall" "helena.sopt" "imgLarge" "helena.opt")}}
            {{partial "person" (dict "content" . "name" "simon" "imgSmall" "simon.sopt" "imgLarge" "simon.opt")}}
            {{partial "person" (dict "content" . "name" "claire" "imgSmall" "claire.sopt" "imgLarge" "claire.opt")}}
        </div>
    </section>
    <section class="bg-green white p-10">
        <h1 class="uppercase align-centre mb-10 pgt-title">
            personalised group training
        </h1>
        <h3 class="mb-10 pgt-text">
            How it works
        </h3>
        <div class="lh-1h mb-10 pgt-text">
            Our programmes target the strengths and weakness of each individuals physical health, through twenty
            different types of fitness and training styles. These is very important when it comes to functional
            training as they all have a crossover with everyday life.
        </div>
        <div class="lh-1h mb-10 pgt-text">
            Everyone has different and specific fitness goals, so when you train with us, our broad programming will
            ensure you achieve your targets, no matter your level of fitness or current ability.
        </div>
        <h3 class="mb-10 pgt-text">
            Our workouts include:
        </h3>
        <div class="workouts">
            <div class="mb-10 flex-1 p-20">
                <div class="flex flex-centre">
                    {{ partial "star" . }}
                </div>
                <h1 class="uppercase align-centre mb-10 workout-title">tabata</h1>
                <div class="font-light">
                    Tabata is a high-intensity interval training (HIIT), and each exercise in a given workout only lasts
                    four minutes. A workout could look a bit like this:
                </div>
                <ul class="font-light workout-list">
                    <li>
                        Workout hard for 20 seconds
                    </li>
                    <li>
                        Rest for 10 seconds
                    </li>
                    <li>
                        Complete 8 rounds
                    </li>
                </ul>
                <div class="font-light">
                    You push yourself as hard as you can for 20 seconds and rest for 10 seconds. This is one set.
                    You'll complete eight sets of each exercise.
                </div>
            </div>
            <div class="flex-1 p-20">
                <div class="flex flex-centre">
                    {{ partial "star" . }}
                </div>
                <h1 class="uppercase align-centre mb-10 workout-title">gynmastic</h1>
                <div class="font-light mb-10">
                    Gymnastics workouts increase your strength and flexibility while boosting muscular endurance.
                    Much like bodyweight training, it is done without the use of free weights or machines,
                    but using your own weight to provide resistance against gravity.
                </div>
                <a href="/workouts" class="white">Read more...</a>
            </div>
        </div>
    </section>
    <section class="p-10 flex flex-column flex-centre flex-align-centre membership-section">
        {{partial "card" (dict "content" . "imgSmall" "kettle-bells.sopt" "imgLarge" "kettle-bells.opt2" "title" "membership" "partialName" "membership" )}}
    </section>
    <section class="bg-green white p-10">
        <h1 class="uppercase align-centre mb-10 fb-title">get in touch</h1>
        <div class="get-in-touch">
            <form class="fb-form">
                <div class="fb-name-email">
                    <div>
                        <input type="text" name="name" placeholder="name" class="fb-input fb-text" autocomplete="name"/>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="email" class="fb-input fb-text" autocomplete="email"/>
                    </div>
                </div>
                <div class="fb-row">
                    <input type="text" placeholder="subject" class="fb-input fb-text"/>
                </div>
                <div class="fb-row">
                    <input type="tel" name="phone" placeholder="phone" class="fb-input fb-text" autocomplete="tel"/>
                </div>
                <div class="fb-row">
                    <input type="text" name="ship-address" placeholder="address" class="fb-input fb-text"
                           autocomplete="shipping street-address"/>
                </div>
                <div class="fb-row">
                    <textarea placeholder="message" class="fb-input fb-ta"></textarea>
                </div>
                <button type="submit" class="fb-submit">send</button>
            </form>
            <div class="gmap">
                <iframe
                        width="100%"
                        height="100%"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA74vTXK6VdxgG_KjBHbalCUpCMX9-f1Xk&q=ME17 4AG&zoom=9&center=51.2226049,0.5238898000000063"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    <section class="bold gray footer-email">
        {{ .Site.Params.email }}
    </section>
</div>
</body>
{{ partial "scripts" . }}
</html>
