<!DOCTYPE html>
<html lang="en" class="full-hw">
{{ partial "head" . }}
<body class="full-hw">
<div class="content full-hw">
    {{ partial "top" (dict "content" . "linkUrl" "/" "linkName" "home" "phone" .Site.Params.phoneNumber )}}
    {{ partial "slideshow" . }}
    <section class="p-10 flex flex-column flex-centre flex-align-centre">
        {{partial "card" (dict "content" . "imgSmall" "lunge.sopt" "imgLarge" "lunge.opt" "title" "about us" "partialName" "about-us" )}}
    </section>
    <section class="bg-green white p-10">
        <div class="align-centre">
            <picture>
                <source media="(min-width: 450px)" srcset="/images/kettle-bells.opt2.jpg">
                <img src="/images/kettle-bells.sopt.jpg" alt="kettle bells" class="timetable-img">
            </picture>
        </div>
        <h1 class="uppercase align-centre timetable-title">timetable</h1>
        {{ partial "timetable" . }}
        <div class="timetable-desc-container">
            <div class="timetable-desc">
                Our Yoga and Hiit & Core classes are open to members and non-members. Personal training is also
                available,
                <a href="mailto:hello@onetwenty.fit?subject=Personal training session" class="white">contact us</a> to
                book your session
            </div>
        </div>
    </section>
    <section class="pt-10">
        <h1 class="uppercase align-centre mot-title">
            meet our team
        </h1>
        <div class="people">
            {{partial "person" (dict "content" . "name" "helena" "imgSmall" "helena.sopt" "imgLarge" "helena.opt")}}
            {{partial "person" (dict "content" . "name" "simon" "imgSmall" "simon.sopt" "imgLarge" "simon.opt")}}
            {{partial "person" (dict "content" . "name" "claire" "imgSmall" "claire.sopt" "imgLarge" "claire.opt")}}
        </div>
    </section>
    <section class="bg-green white p-10">
        {{ partial "programme" . }}
    </section>
    <section class="p-10 flex flex-column flex-centre flex-align-centre membership-section">
        {{partial "card" (dict "content" . "imgSmall" "kettle-bells.sopt" "imgLarge" "kettle-bells.opt2" "title" "membership" "partialName" "membership" )}}
    </section>
    <section class="bg-green white p-10">
        <h1 class="uppercase align-centre mb-10 fb-title">get in touch</h1>
        <div class="get-in-touch">
            {{ partial "contact-form" . }}
            <div class="gmap">
                <iframe
                        width="100%"
                        height="100%"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA74vTXK6VdxgG_KjBHbalCUpCMX9-f1Xk&q=ME17 4AG&zoom=9&center=51.2226049,0.5238898000000063"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    {{ partial "footer" .Site.Params.email }}
</div>
</body>
{{ partial "scripts" . }}
{{ partial "slideshow-code" . }}
</html>
