<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head" . }}
</head>
<body>
{{ partial "top" (dict "content" . "linkUrl" "/" "linkName" "home" "phone" .Site.Params.phoneNumber) }}
<div class="profile-content p-10">
    <picture>
        <source media="(min-width: 450px)" srcset="/images/{{ .Params.imgLarge }}.jpg">
        <img src="/images/{{ .Params.imgSmall }}.jpg" alt="profile" class="img-fw profile-img minh-385">
    </picture>
    <div class="profile-text">
        <div class="profile-name">
            {{ .Params.name }}
        </div>
        {{ .Content }}
    </div>
</div>
{{ partial "footer" .Site.Params.email }}
</body>
{{ partial "scripts" . }}
</html>
